## Importing The Packages

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

## Load The dataset

In [2]:
df=pd.read_csv("loan_prediction.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df.shape

(614, 13)

## Handle The Missing Values

In [4]:

#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoApplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Treating The Null Value

In [5]:
# We will fill the missing values in numeric data type using the mean value of that particular column and categorical data type using the most repeated value

In [6]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [7]:
numerical_features

Index(['ApplicantIncome', 'CoApplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [8]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [9]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [10]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoApplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
# Now the null value is retreated

## Handling Categorical Values

In [12]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [14]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [15]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [16]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [17]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [18]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [19]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [20]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [21]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [22]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [23]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [24]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [25]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [26]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [27]:
df['CoApplicantIncome']=df['CoApplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [28]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [29]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

In [30]:
df.drop(columns = 'Loan_ID', inplace=True)
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,1,1,0,1,1,3000,0,66,360,1,2,1
3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,1,0,0,1,0,6000,0,141,360,1,2,1

## Balancing The Dataset

In [31]:
from imblearn.combine import SMOTETomek

In [32]:
smote = SMOTETomek(0.90)

In [33]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [34]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [35]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    349
0    306
Name: Loan_Status, dtype: int64

## Scaling The Data

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [38]:
x_bal = pd.DataFrame(x_bal)

In [39]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0.537931,-1.16817,-0.714258,0.610873,-0.331918,0.132992,-0.508529,-0.276802,0.29259,0.58499,1.371074
1,0.537931,0.85604,0.332362,0.610873,-0.331918,-0.089947,-0.048297,-0.166225,0.29259,0.58499,-1.224456
2,0.537931,0.85604,-0.714258,0.610873,3.012793,-0.368708,-0.508529,-1.023200,0.29259,0.58499,1.371074
3,0.537931,0.85604,-0.714258,-1.637002,-0.331918,-0.442141,0.211117,-0.276802,0.29259,0.58499,1.371074
4,0.537931,-1.16817,-0.714258,0.610873,-0.331918,0.159583,-0.508529,0.013463,0.29259,0.58499,1.371074

In [40]:
# We will perform scaling only on the input values

## Splitting Data Into Train And Test

In [41]:
# splitting the data into training and testing set

from sklearn.model_selection import train_test_split

In [42]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [43]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(438, 11)
(438,)
(217, 11)
(217,)

# Comparing The Models

## Decision Tree Model

In [82]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
print("****DecisionTreeClassifier****") 
model = DecisionTreeClassifier(max_depth=4,splitter='best',criterion='entropy')
model.fit(x_train,y_train)
y_predict= model.predict(x_test)
y_predict
y_predict_train = model.predict(x_train)

pd.crosstab(y_test,y_predict)
print("Confusion matrix")
print(classification_report(y_test,y_predict))

print('Testing accuracy = ', accuracy_score(y_test,y_predict))
print("Training accuracy= ",accuracy_score(y_train,y_predict_train))

****DecisionTreeClassifier****
Confusion matrix
              precision    recall  f1-score   support

           0       0.81      0.67      0.74       101
           1       0.75      0.86      0.80       116

    accuracy                           0.77       217
   macro avg       0.78      0.77      0.77       217
weighted avg       0.78      0.77      0.77       217

Testing accuracy =  0.7741935483870968
Training accuracy=  0.8127853881278538

In [120]:
# DecisionTreeClassifier is giving the accuracy of 81% with training data , 77% accuracy for the testing data.

## Random Forest Model

In [119]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print("****RandomForestClassifier****") 
model = RandomForestClassifier(n_estimators=10,criterion='entropy')
model.fit(x_train,y_train)
y_predict= model.predict(x_test)
y_predict
y_predict_train = model.predict(x_train)

pd.crosstab(y_test,y_predict)
print("Confusion matrix")
print(classification_report(y_test,y_predict))

print('Testing accuracy = ', accuracy_score(y_test,y_predict))
print("Training accuracy= ",accuracy_score(y_train,y_predict_train))

****RandomForestClassifier****
Confusion matrix
              precision    recall  f1-score   support

           0       0.74      0.77      0.75       101
           1       0.79      0.76      0.78       116

    accuracy                           0.76       217
   macro avg       0.76      0.77      0.76       217
weighted avg       0.77      0.76      0.77       217

Testing accuracy =  0.7649769585253456
Training accuracy=  0.9954337899543378

In [121]:
# RandomForestClassifier is giving the accuracy of 99% with training data , 76% accuracy for the testing data.

## KNN Model

In [86]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
print("****KNeighborsClassifier****") 
model = KNeighborsClassifier()
model.fit(x_train,y_train)
y_predict= model.predict(x_test)
y_predict
y_predict_train = model.predict(x_train)

pd.crosstab(y_test,y_predict)
print("Confusion matrix")
print(classification_report(y_test,y_predict))

print('Testing accuracy = ', accuracy_score(y_test,y_predict))
print("Training accuracy= ",accuracy_score(y_train,y_predict_train))

****KNeighborsClassifier****
Confusion matrix
              precision    recall  f1-score   support

           0       0.77      0.63      0.70       101
           1       0.72      0.84      0.78       116

    accuracy                           0.74       217
   macro avg       0.75      0.73      0.74       217
weighted avg       0.75      0.74      0.74       217

Testing accuracy =  0.7419354838709677
Training accuracy=  0.8401826484018264

In [122]:
# KNeighbors Classifier is giving the accuracy of 84% with training data , 74% accuracy for the testing data.

## Xgboost Model

In [113]:
from sklearn.ensemble import  GradientBoostingClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
xg = GradientBoostingClassifier() 
xg.fit(x_train,y_train)
y_predict= model.predict(x_test)
y_predict
y_predict_train = model.predict(x_train)

pd.crosstab(y_test,y_predict)
print("Confusion matrix")
print(classification_report(y_test,y_predict))

print('Testing accuracy = ', accuracy_score(y_test,y_predict))
print("Training accuracy= ",accuracy_score(y_train,y_predict_train))

Confusion matrix
              precision    recall  f1-score   support

           0       0.81      0.74      0.77       101
           1       0.79      0.84      0.82       116

    accuracy                           0.80       217
   macro avg       0.80      0.79      0.79       217
weighted avg       0.80      0.80      0.80       217

Testing accuracy =  0.7972350230414746
Training accuracy=  0.9908675799086758

In [123]:
# From the four model Xgboost is performing well. Xgboost is giving the accuracy of 99% with training data , 80% accuracy for the testing data.so we considering xgboost and deploying this model.

# Evaluating Performance Of The Model

In [124]:
from sklearn.model_selection import cross_val_score

In [125]:
# Xgboost Model is selected
xg = GradientBoostingClassifier()

In [126]:
xg.fit(x_train,y_train)

GradientBoostingClassifier()

In [127]:
yPred = xg.predict(x_test)

In [128]:
f1_score(yPred,y_test, average='weighted')

0.8132911769134078

In [129]:
cv = cross_val_score(xg,x,y,cv=5)

In [130]:
np.mean(cv)

0.7801412768226044

# Saving The Model

In [131]:
import joblib
joblib.dump(model,'Forest.pkl')

['Forest.pkl']